<h1 class='text-4xl'>{{@title}}</h1>

<Pagination
  @currentPage={{this.currentPage}}
  @maximumPage={{this.maximumPage}}
  @onClick={{this.incrementPage}}
  class='my-10'
/>

{{#if (has-block)}}
  {{yield this.currentPageObjects}}
{{else}}
  <Page @objects={{this.currentPageObjects}} class='mb-5 last:mb-0' />
{{/if}}
