<div class='inline-flex items-center' ...attributes>

  <button
    type='button'
    disabled={{eq @currentPage 1}}
    class='px-4 py-1 bg-[#7BC942] text-white rounded mr-3 disabled:opacity-50'
    {{on 'click' (fn @onClick -1)}}
  >Previous</button>

  <button
    type='button'
    disabled={{eq @currentPage @maximumPage}}
    class='px-4 py-1 bg-[#7BC942] text-white rounded mr-6 disabled:opacity-50'
    {{on 'click' (fn @onClick 1)}}
  >Next</button>

  <p class='text-gray-400'>Page: {{@currentPage}}</p>

</div>
